/* Estilos para el fondo de la página */
.page {
  background-image: url("images/bg-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh; /* Ajusta el mínimo de altura para cubrir la pantalla */
  position: relative;
}

/* Estilos para el contenedor de navegación */
.nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
  background: rgba(0, 0, 0, 0.5);
  gap: 10px;
}

/* Estilos para los botones */
.btn {
  --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
  --border-width: 0.125em;
  --curve-size: 0.5em;
  --blur: 30px;
  --bg: #080312;
  --color: #afffff;
  color: var(--color);
  cursor: pointer;
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: 0.5em 1.5em;
  font-size: 17px;
  border: 0;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  clip-path: polygon(
    0% var(--curve-size),
    var(--curve-size) 0,
    100% 0,
    100% calc(100% - var(--curve-size)),
    calc(100% - var(--curve-size)) 100%,
    0 100%
  );
  transition: color 250ms;
}

.btn::after,
.btn::before {
  content: "";
  position: absolute;
  inset: 0;
}

.btn::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%;
  }

  50% {
    background-position: 70% 100%;
  }

  100% {
    background-position: 31% 0%;
  }
}

.btn::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
    var(--border-width) calc(var(--curve-size) + var(--border-width) * 0.5),
    calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
    calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    var(--border-width) calc(100% - var(--border-width))
  );
  transition: clip-path 500ms;
}

.btn:hover::before,
.btn:focus::before {
  background-position: 70% 100%;
}

.btn:hover::after,
.btn:focus::after {
  clip-path: polygon(
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    calc(100% - var(--border-width)) calc(100% - var(--border-width))
  );
}

.nav__link {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.nav__link-active {
  text-decoration: underline;
}

/* Estilos para el contenido principal */
.container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  flex: 1; /* Ajusta el contenido para ocupar el espacio disponible */
}

.description {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 20px;
  max-width: 800px;
  text-align: center;
}

.description__title {
  font-size: 3rem;
  font-family: sans-serif;
  text-transform: uppercase;
  color: white;
  margin-bottom: 10px;
}

.description__paragraph {
  color: white;
  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.slogan {
  font-family: sans-serif;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Estilos para las fotos */
.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 1000px;
  margin-top: 30px;
}

.image {
  width: 200px;
  height: 200px;
  border: 2px solid black;
}

/* Estilos para el footer */
.footer {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 10px 0;
}

.social-icon {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}

.icon {
  width: 30px;
  height: 30px;
}

.social-icon__link {
  color: #fff;
  font-size: 2rem;
  transition: transform 0.3s ease-in-out;
  display: flex;
  align-items: center; /* Centra verticalmente el ícono */
}

.social-icon__link:hover {
  transform: translateY(-5px);
}

.social-icon__item {
  list-style-type: none;
}

.footer p {
  margin-top: 10px;
  font-size: 0.9rem;
}

/** Media queries **/

@media screen and (min-width: 1280px) {
  .container {
    flex-direction: row;
  }

  .photos {
    margin: 0;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .footer {
    /* position: absolute; */
    padding: 10px 0;
    width: 100%;
  }
}

@media screen and (min-width: 1470px) {
  .photos {
    padding: 20px;
  }
}
